body
{
    width: 300px;
    height: 450px;
    /* background-color:#6d9ac4; */
    background-color: rgb(240,241,243);
    color: gray;
    
}
h3
{
    text-align: center;
}
.parentContainer
{
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.childContainer
{   
    margin: auto;
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 7px;
   
    
    
}
form
{  
    display: flex;
    flex-direction: column;
    gap: 10px;
   padding: 20px;
    
}
.userEmailDiv
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.deviceIdDiv
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.userPasswordDiv
{   
    margin: 6px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input
{
    border: 1px solid;
    border-radius: 5px;
    padding: 6px;
}

button
{
    border-radius: 6px;
    width: 100%;
    border: none;
    padding:6px;
    background-color: #ed5684;
    color: white;
    transition: 0.5s ease;    
}

button:hover
{
    box-shadow: .2rem .2rem .5rem .2rem rgb(4, 150, 142);
}
#forgetPassword
{
    color:gray;
    text-align: right;
}
hr{
    width: 80%;
    color: grey;
    position: relative;

}
#or
{

    border: 1px solid gray;
    display: inline;
    padding: 2px;
    border-radius: 4px;
    position: relative;
    left: 120px;
    bottom: 15px;
    background-color: white;
}
svg{
    width: 12px;
    height: 12px;
    padding: 5px;
    border:1px solid black;
    border-radius: 50%;
    
}
.googleLogin
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signUpDiv
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


